@charset "UTF-8";
a {
  text-decoration: none;
}

#menu a {
  color: rgb(17, 41, 88);
  align-items: start;
  justify-content: start;
  display: block;
}

.closed ul {
  display: none;
}

ul {
  list-style-type: none;
  padding: 0px 0px;
  margin: 0;
}

#menu .li {
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

li:last-child {
  border-bottom: none;
}

.arrow {
  transform: translateY(5%);
  transition: transform 0.3s ease;
}

.opened .arrow {
  transform: translateY(5%) rotate(-180deg);
}

.closed .arrow {
  transform: translateY(5%) rotate(0deg);
}

.opened .a .arrow {
  transform: translateY(5%) rotate(-180deg);
}

.closed .a .arrow {
  transform: translateY(5%) rotate(-180deg);
}

#menu .has-children > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#menu .has-children > a .arrow {
  margin-left: auto;
}

#menu .has-children.closed > a {
  justify-content: start;
  align-items: center;
  color: rgb(17, 41, 88);
  font-weight: 700;
  background-color: white;
}

#menu .has-children.opened > a {
  color: rgb(17, 41, 88);
  font-weight: 700;
  background-color: #cfe2ff;
  width: 100% !important;
}

#menu a {
  padding: 12px 6px;
  border: 1px solid #ccc;
  border-left: none !important;
  border-right: none !important;
}

/* Bu kısımda topbar işlemi yapılıyor */
.container-top {
  padding-left: 18%;
  padding-right: 18%;
}

.navbar-topbar {
  background-color: #002A54;
  height: 43px;
}

.navbar-nav {
  width: 50%;
}

.topbar-color {
  background-color: #0d6efd;
}

.text-turkovac {
  font-size: 14.5px;
  font-weight: 400;
  color: white !important;
}

.text-tbysgiris {
  color: white !important;
  font-size: 14.5px;
  font-weight: 400;
}

.dropdown-menu-topbar {
  width: 188px;
  height: 32px;
  outline: none;
  border-radius: 5px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding: 5px;
}

.svg-topbar {
  font-weight: lighter;
  width: 40px;
  height: 35px;
  margin-left: 2px;
}

.text-tr {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #002A54;
  width: 34px;
  height: 31px;
  margin-left: 24px;
  color: white !important;
}

.text-eng {
  background-color: #002A54;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 31px;
  margin-left: 24px;
  color: white !important;
}

/* Bu kısımda topbar çizgi işlemleri yapılmakta */
.border-r-container {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.border-r {
  border-left: 1px solid rgb(160, 159, 159);
  height: 32px;
  margin-left: 6px;
  margin-right: 6px;
  color: white;
}

.border-r-language {
  margin-left: 24px !important;
  color: white !important;
  border-left: 1px solid rgb(160, 159, 159);
  height: 32px;
  margin-right: 6px;
}

.dropdown-toggle::after {
  display: none;
}

.btn {
  border-right: 8%;
}

/* Bu kısımda bottombar işlemleri yapılmaktadır */
.navbar-bottombar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #f3faff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-logo {
  width: 55px;
  height: 95px;
}

.bi-caret-down-fill {
  color: gray;
}

.small-screen-bottombar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-language {
  height: 36px;
}

.dropdown-language .btn:focus {
  box-shadow: 0 0 5px 3px rgba(0, 150, 255, 0.5);
  border-color: transparent !important;
}

.custom-dropdown-menu {
  width: 10px !important;
}

.dropdown-language-menu {
  min-width: 100px !important;
}

.dropdown-item-language:active {
  background-color: #273c66;
}

.dropdown-item-language:hover {
  background-color: #273c66;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.bi-list {
  font-size: 28px;
}

.saglik-bakanligi-logo {
  width: 117px;
  height: 67px;
}

.dropdown-item-bottombar {
  font-size: 16px;
}

.dropdown-item-bottombar:active {
  background-color: #273c66;
  color: black;
}

.dropdown-item-bottombar:hover {
  background-color: #273c66;
  color: white;
  border-radius: 5px;
  transition: background-color 0.5s ease;
}

.dropdown-toggle-bottombar {
  font-size: 17px;
  font-weight: 500;
}

.dropdown-toggle-submenu {
  font-size: 16px;
}
.dropdown-toggle-submenu:hover {
  background-color: #273c66;
  color: white;
  border-radius: 5px;
  transition: background-color 0.5s ease;
}

.dropdown-menu.dropdown-menu-top li:hover {
  background-color: #273c66;
}

.nav-item.dropdown .dropdown-menu.dropdown-menu-top li:hover > a {
  background-color: #273c66;
  color: white !important;
}

.fa-caret-right {
  font-size: 19px;
}

.dropdown-sub:hover > .dropdown-toggle-submenu > .fa-caret-right {
  transform: rotate(180deg);
}

.dropdown-menu-sub > .dropend.dropdown:hover > .dropdown-item > .fa-caret-right {
  transform: rotate(180deg);
}

.dropdown-menu-sub .dropdown-item:hover > .fa-caret-right {
  transform: rotate(180deg);
}

/* Bu kısımda bottombar çizgi işlemleri yapılmakta */
.dropdown-language {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  outline-color: aqua !important;
}

.btn-List-outline {
  color: #0d6efd;
  border-color: #0d6efd;
}

.dropdown:hover .dropdown-menu-top {
  display: block;
}

.dropdown-menu-sub {
  display: none;
  position: absolute;
  top: -60px;
  left: 98.5%;
  margin-left: 0.125rem;
}

.dropdown-item.dropdown-toggle:hover + .dropdown-menu-sub,
.dropdown-menu-sub:hover {
  display: block;
}

.dropdown-toggle::after {
  display: none !important;
}

/* Bu kısımda search işlemi yapılmakta */
#dropdown-menu-search {
  transform: translate(1px, -0.7px);
}

.bi-search {
  color: white;
  padding: 10px;
}

.btn-custom {
  width: 34px;
  height: 31px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 80px;
  background-color: #002A54;
  border: 1px solid white;
}

#group-container:hover .btn-custom:hover {
  background-color: white;
}
#group-container:hover #custom-search {
  color: white !important;
}
#group-container:hover #custom-search:hover {
  color: #005aa3 !important;
}

/* .dropdown-menu::-webkit-search-cancel-button {
    display: none;
} */
.list-search input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.btn-custom.clicked {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

/* Bu kısımda carousel işlemi yapılmakta */
.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 75px);
  right: 25px;
  opacity: 1;
  font-size: 5rem !important;
  z-index: 1;
  color: white !important;
}

.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 75px);
  left: 25px;
  opacity: 1;
  font-size: 5rem !important;
  z-index: 1;
  color: white !important;
}

.owl-carousel .owl-nav .owl-prev:hover,
.owl-carousel .owl-nav .owl-next:hover {
  background-color: transparent !important;
}

.item-slider {
  -o-object-fit: cover;
     object-fit: cover;
}

/* bu kısımda offcanvas işlemi yapılıyor */
.offcanvas-custom {
  width: 300px !important;
}

.offcanvas-body {
  display: block;
}

.offcanvas-content {
  display: flex;
  justify-content: space-between;
}

.offcanvas-logo {
  padding-top: 10px;
  padding-left: 30px;
  width: 80px;
}

.offcanvas-content-top {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
}

.bi-x {
  font-size: 32px;
}

.navbar-search-offcanvas {
  margin-bottom: 20px;
  margin-top: 20px;
}

.dropdown-offcanvas-language .btn:focus {
  box-shadow: 0 0 5px 3px rgba(0, 150, 255, 0.5);
  border-color: transparent !important;
}

.dropdown-offcanvas-language-menu {
  min-width: 75px !important;
}

.offcanvas-body {
  padding: 0px !important;
}

.btn-list-close {
  padding-left: 0px;
}

/* Burada list search işlemi yapılmakta */
.navbar-search {
  padding: 0px 8px;
}

/* Bu kısımda slider için scale işlemi yapılıyor */
.item {
  transition: transform 0.3s ease;
}
.item:hover {
  transform: scale(1.1);
}
.item:focus {
  transform: scale(1.1);
}
@keyframes focusAnimation {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

/* Bu kısımda haberler kısmının slider içeriği yapıldı */
.haberler-baslik {
  font-weight: 600;
  font-size: 2.188rem;
  justify-content: start;
  align-items: start;
  display: flex;
  margin-bottom: 1.5rem;
  color: black;
  margin-top: 50px;
}

.owl-carousel-haberler {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.01);
}

.haberler-main-custom {
  background-color: #f5fafa;
}

.haberler-icerik-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 1.1rem;
  font-weight: 600;
  color: #005aa3;
}

.haberler-icerik-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.2;
  font-weight: 400;
  font-size: 0.93rem;
  margin-top: 20px;
}

.haberler-tarih {
  padding: 0.8em !important;
  display: flex !important;
  justify-content: end !important;
  align-items: center;
  background-color: #F6F6F6;
  z-index: 900;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-right: 20px !important;
}

.haberler-text {
  font-weight: 400;
  font-size: 1rem;
  justify-content: end;
  align-items: end;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #005aa3;
  padding-right: 10px;
}

.haberler-tarih-content {
  margin-left: 10px;
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0px;
  height: 226px;
}

.card-haberler {
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  z-index: 1000;
}

.card-body-haberler {
  padding: 20px;
  margin-top: 5px;
  min-height: 150px;
  max-height: 150px;
}

.btn-primary {
  border-radius: 25px;
  width: 120px;
}
.btn-primary:hover {
  background-color: black;
  border: none;
}

h3, h5 {
  color: rgb(0, 91, 228);
}

.underline-link {
  position: relative;
  text-decoration: none;
  color: black;
  text-decoration: none;
  color: inherit;
}

.underline-link::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: #005aa3;
  transition: width 0.3s ease, right 0.3s ease;
}

.underline-link:hover::after {
  width: 100%;
  left: 0;
}

.underline-link:hover {
  color: #005aa3;
}

/* Bu kısımda ana sayfanın duyurular kısmı yapıldı */
.duyurular-text {
  gap: 1em;
  font-weight: 400;
  font-size: 1rem;
  justify-content: end;
  align-items: end;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #005aa3;
}

.duyurular-baslik {
  font-weight: 600;
  font-size: 2.188rem;
  justify-content: start;
  align-items: start;
  display: flex;
  margin-bottom: 1.5rem;
  margin-top: 50px;
}

.body-duyurular-other {
  margin-top: 10px;
  color: #005aa3;
  font-size: 1rem;
  transition: 1.5ms all;
}
.body-duyurular-other:hover {
  color: #020f1a;
}

.link-duyurular-devamini-oku {
  color: inherit;
  text-decoration: none;
}

.link-duyurular-devamini-oku i {
  font-size: 0.75rem;
}

.fa-bell {
  font-size: 18px;
}

.accordion-item-duyurular {
  margin-bottom: 1rem;
  box-shadow: 0px 0px 49px 0px rgba(0, 0, 0, 0.08);
}

.accordion-button-duyuru-title:not(.collapsed) {
  color: white;
  background-color: rgb(39, 60, 102) !important;
}

.accordion-button-duyuru-title {
  display: flex !important;
  gap: 20px !important;
  align-items: center;
  padding: 16px !important;
  background-color: #f9f8ff !important;
}

.accordion-button-duyuru-title-sub {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  line-height: 1.35rem;
  text-align: justify;
  font-size: 1rem;
}

.accordion-body-duyuru-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* Bu kısımda footer içeriği yapıldı  */
.footer-big {
  background-image: url(../img/footer-bg.png);
  background-size: cover;
}

.footer-submenu-text {
  color: inherit;
  transition: transform 0.3s ease, color 0.3s ease;
  line-height: 1.2;
}
.footer-submenu-text:hover {
  color: #adb5bd;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.footer-line {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 40px;
}

.footer-line-enstituler {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 20px;
}

.footer-line-content {
  font-size: 16px;
  font-weight: 500;
  color: #e8e8e8;
  opacity: 95%;
}

.footer-line-content-sub {
  color: white;
  display: flex;
  gap: 15px;
}

.footer-line-title {
  font-size: 16px;
  font-weight: 500;
  color: #e8e8e8;
  opacity: 95%;
}

.teknofest-logo {
  padding-top: 10px;
}

.teknofest-image {
  width: 170px;
  height: 120px;
}

.footer-part {
  border-bottom: 1px solid white;
  opacity: 10%;
}

.footer-bottom {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.tuseb-logo-sticky {
  margin-bottom: 30px;
}

.copyright-part {
  color: white;
}

.social-media {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.social-media-item {
  color: white;
  font-size: 28px;
}

.social-media-small {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-top: 20px;
}

.copyright-part-small {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-line-small {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 30px;
  margin-top: 60px;
}

.footer-content-small {
  display: block;
  justify-content: space-between;
  padding-top: 100px;
}

.footer-small {
  background-image: url(../img/footer-bg.png);
  background-size: cover;
}

.footer-adres-small {
  font-size: 18px;
  font-weight: 400px;
  color: #fff;
}

.footer-part-small {
  border-bottom: 1px solid white;
  opacity: 10%;
  padding-top: 40px;
}

.footer-bottom-image-part {
  display: block;
  padding-top: 30px;
  padding-bottom: 20px;
}

.teknofest-image-part {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.tuseb-logo-part {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* go to top */
#goTop {
  position: fixed;
  right: 15px;
  bottom: 15px;
}

#goTop a {
  border-radius: 100%;
  background: rgb(0, 54, 87);
  color: #fff;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: opacity 0.3s linear;
}
#goTop a:hover {
  transition: background-color 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 2px;
  transform: translateY(-5px);
  background-color: #0a7b87;
}

/* Tüm Genel kısmı */
.pagination-basic-top {
  display: flex;
  align-items: center;
  justify-content: end;
}

.pagination-small-top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-basic-small {
  text-align: center;
  margin: 30px 30px 60px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.pagination-basic-small li {
  display: inline-block;
  color: #6c757d;
}

.container-genel {
  display: flex;
  flex-direction: column;
}

.card-content-genel {
  display: flex;
  flex-wrap: wrap;
}

.pagination-basic, .pagination-basic-small {
  text-align: center;
  margin: 30px 30px 60px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  box-shadow: 0px 0px 49px 0px rgba(243, 241, 241, 0.08) !important;
  border-radius: 10px;
}

.active {
  color: #052c65 !important;
  font-size: 17px;
}

.disable {
  color: #bdbdbd !important;
}

.pagination-basic li, .pagination-basic-small li {
  display: inline-block;
  color: #6c757d;
}

.pagination-basic li:hover, .pagination-basic-small li:hover {
  display: inline-block;
  color: #052c65;
}

.pagination-basic li a, .pagination-basic-small li a {
  text-decoration: none;
  font-size: 1.1em;
  line-height: 40px;
  font-weight: 400;
}

.previous-page, .next-page, .first-page,
.last-page, .first-page-small, .previous-page-small, .next-page-small, .last-page-small {
  width: 30px;
  cursor: pointer;
  transition: 0.3s ease;
}

.first-page:hover, .first-page-small:hover {
  transform: translateX(-5px);
}

.previous-page:hover, .previous-page-small:hover {
  transform: translateX(-5px);
}

.next-page:hover, .next-page-small:hover {
  transform: translateX(5px);
}

.last-page:hover, .last-page-small:hover {
  transform: translateX(5px);
}

.current-page,
.dots {
  color: #6c757d;
  width: 30px;
  cursor: pointer;
}

.current-page,
.dots:hover {
  transition: transform 0.3s ease;
  transform: scale(1.2);
  color: #052c65;
}

.a-tag {
  text-decoration: none;
  color: inherit;
}

.tum-genel-baslik {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  background-image: url(../img/pagehead.png);
  margin-bottom: 40px;
  background-size: cover;
}

.tum-genel-baslik-sub {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tum-genel-baslik-sub-sub {
  font-weight: 700;
  font-size: 1.625rem;
  color: white;
}

.bi-calendar-fill {
  margin-left: 10px;
}

.genellistelement {
  display: flex !important;
  gap: 8px;
  color: black;
}

/* Bu kısımda tüm haberler yapılmakta */
.tum-haberler {
  min-height: 1000px;
}

.tum-haberler-icerik-title {
  font-size: 1.1rem;
  font-weight: 600;
  color: #005aa3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.tum-haberler-icerik-text {
  line-height: 1.2;
  font-weight: 400;
  font-size: 0.93rem;
  margin-top: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.tum-haberler-tarih {
  background-color: #F6F6F6;
  z-index: 900;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 1rem;
}

.tum-haberler-tarih-sub {
  margin-left: 10px;
}

.tum-haberler-tarih-sub-sub {
  margin-left: 10px;
  padding-right: 15px !important;
}

.card-image {
  height: 226px;
}

.card-content-haberler {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tum-haberler-sayfasi-icerik {
  border-radius: 30px;
  margin: 20px;
  margin-bottom: 40px;
  box-shadow: 0 5px 25px rgba(1, 1, 1, 0.2);
  max-width: 390px;
}
.tum-haberler-sayfasi-icerik:hover {
  transition: transform 0.5s ease;
  transform: scale(1.1);
}

/* Bu kısımda tüm duyurular yapılmakta */
.tum-duyurular {
  min-height: 1000px;
}

.tum-duyurular-sayfasi-icerik {
  border-radius: 10px;
  margin: 20px;
  margin-bottom: 10px;
  box-shadow: 0 5px 25px rgba(1, 1, 1, 0.2);
  max-width: 100%;
  height: 100%;
}
.tum-duyurular-sayfasi-icerik:hover {
  transition: transform 0.5s ease;
}

.card-body-duyurular {
  padding: 10px;
  margin-top: 5px;
  min-height: 150px;
  max-height: 150px;
}

.tum-duyurular-icerik-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 1.1rem;
  font-weight: 600;
  color: #005aa3;
  line-height: 1.2;
}

.tum-duyurular-icerik-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.arrow {
  transform: translateY(5%);
  transition: transform 0.3s ease;
}

.opened .arrow {
  transform: translateY(5%) rotate(-180deg);
}

.closed .arrow {
  transform: translateY(5%) rotate(0deg);
}

.opened .a .arrow {
  transform: translateY(5%) rotate(-180deg);
}

.closed .a .arrow {
  transform: translateY(5%) rotate(-180deg);
}

.tum-duyurular-icerik-bottom {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  z-index: 900;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.fa-angle-right {
  margin-right: 10px;
}

.tum-duyurular-tarih {
  margin-left: 10px;
}

/* Bu kısımda haber iceriği yapılmakta */
.haber-detay {
  min-height: 1000px;
  padding-bottom: 50px;
}

.haber-detay-text {
  line-height: 1.2;
  font-weight: 400;
  font-size: 0.93rem;
  margin-top: 20px;
}

.haber-detay-image {
  width: 100%;
}

.list-unstyled a {
  display: block;
  padding: 4px 16px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 16px;
}

.list-unstyled a:hover {
  background-color: #e9ecef;
}

.accordion-button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 17px;
  font-weight: 600;
  background-color: transparent !important;
  border: none;
  gap: 8px;
}
.accordion-button:hover {
  background-color: #e9ecef;
}

.accordion-button::after {
  display: none;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-item,
.accordion-header {
  border: none;
  background-color: #f5fafa;
  --bs-accordion-border-color: transparent;
}

.card-content {
  flex: 1;
}

.accordion-collapse {
  padding-left: 1.5rem;
}

.accordion-button[aria-expanded=true] .bi {
  transform: translateY(5%) rotate(90deg);
}

.accordion-button[aria-expanded=false] .bi {
  transform: translateY(5%) rotate(0deg);
}

#chevronrighthaber {
  color: #273c66;
  font-size: 1rem;
  font-weight: 700;
}

.listtitle {
  padding: 0px 16px;
  color: black;
  font-size: 1.6rem;
  font-weight: 600;
}

.accordion-inner-list li a {
  display: flex;
  align-items: center;
}

.accordion-inner-list li a span {
  margin-left: 8px;
}

/* Bu kısımda basın içeriği yapılmakta */
.basinda-tuseb {
  min-height: 1000px;
}

.card-content-basin {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tum-basin-sayfasi-icerik {
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 40px;
  box-shadow: 0 5px 25px rgba(1, 1, 1, 0.05);
  max-width: 410px;
}

.basin-icerik-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-size: 1.4rem;
  font-weight: 500;
  color: black;
  justify-content: center;
  opacity: 80%;
}

.card-basin {
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  z-index: 1000;
}

.card-body-basin {
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  min-height: 150px;
  max-height: 150px;
}

.basinda-tuseb-card {
  position: relative;
}

.basinda-tuseb-card-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0px;
  height: 225px;
  width: 100%;
}

.basinda-tuseb-etiket {
  position: absolute;
  bottom: 12px;
  left: 8px;
  background-color: rgb(13, 110, 253);
  border-radius: 5px;
}

.basinda-tuseb-etiket-dot {
  position: absolute;
  bottom: 4px;
  left: 8px;
  background-color: white;
  padding: 7px;
  border-radius: 100%;
}

.basinda-tuseb-etiket-text {
  color: white;
  margin-left: 40px;
  font-size: 14px;
  margin-right: 10px;
}

.basinda-tuseb-bottom {
  background-color: #F6F6F6;
  z-index: 900;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0.5rem;
}

.basinda-tuseb-tarih {
  margin-left: 10px;
  margin-right: 10px;
}

.basinda-tuseb-bottom-sub {
  margin-left: 10px;
  margin-right: 20px;
}

/* Bu kısımda haberler side list yapılmakta */
.list-unstyled-haberler {
  display: block;
  padding: 4px 16px;
  text-decoration: none;
  color: black !important;
  font-weight: 600;
  font-size: 15px;
}

.list-unstyled-haberler a.active {
  color: #052c65 !important;
}

.list-unstyled-haberler a:hover {
  color: #052c65 !important;
}

.haberlisttitle {
  padding: 0px 20px;
  color: black;
  font-size: 1.3rem;
  font-weight: 600;
}

.list-unstyled-haberler li {
  margin-bottom: 15px;
}

/* Bu kısımda search kısmında list yapılmakta */
.list-group-item:hover {
  background-color: #fcfcfc;
}

/* Bu kısımda loader yapılmakta */
@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.9);
  }
}
.loader-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  position: absolute;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2) 66%, #00bfff 100%);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.image-container {
  position: absolute;
  background-color: #052c65;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: pulse 2s infinite;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 5px 25px rgba(1, 1, 1, 0.2);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Bu kısımda insan kaynakları yapılmakta */
.insan-kaynaklari-tumu {
  min-height: 1000px;
}

.insan-kaynaklari-text {
  min-height: 100vh;
}

.insan-kaynaklari-text-sub {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px 0px;
  border: 0px;
  padding: 30px;
}

.insan-kaynaklari-text-sub-sub {
  margin-bottom: 40px;
}

.insan-kaynaklari-table {
  border: 1px solid rgba(255, 247, 247, 0.9);
  border-radius: 5px;
  margin-bottom: 50px;
}

.table-title-top {
  text-transform: uppercase;
  text-align: center;
}

.table-title {
  opacity: 70%;
  padding: 20px;
}

.table-text {
  text-align: center;
  padding: 15px;
  font-weight: 500;
  opacity: 80%;
  vertical-align: middle;
  font-size: 1em;
}

.table-text-rowspan {
  text-align: center;
  padding: 15px;
  vertical-align: middle;
  font-weight: 500;
  opacity: 100%;
  background-color: white !important;
}

.table-striped > tbody > tr:nth-of-type(odd) > .table-text-rowspan {
  --bs-table-bg-type: white;
}

/* Bu kısımda kurumsal yapılmakta */
.teskilat-yapisi-birim {
  min-height: 1100px;
}

.ozel-kalem-mudurlugu-right {
  margin-bottom: 40px;
}

.accordion-button-teskilat-yapisi {
  background-color: white !important;
}

.accordion-item-kurumsal {
  background-color: white !important;
}

.ozel-kalem-supervisor {
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px 0px;
}

.ozel-kalem-supervisor-sub {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0px 0px;
}

.ozel-kalem-text {
  display: flex;
  flex-direction: column;
}

.ozel-kalem-supervisor-name {
  font-size: 1.5rem;
  text-align: center;
}

.ozel-kalem-icon {
  font-size: 120px;
}

.ozel-kalem-personnel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ozel-kalem-personnel-name {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.ozel-kalem-personnel-title {
  text-align: center;
}

.teskilat-yapisi-ekibimiz-title {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: large;
  padding: 30px 0 0 15px;
}

.teskilat-yapisi-gorevlerimiz {
  padding: 15px;
}

.teskilat-yapisi-gorevlerimiz-title {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: large;
  padding: 30px 0 0 15px;
}

.teskilat-yapisi-border {
  padding: 10px;
  border-top: 1px solid;
  opacity: 20%;
}

.teskilat-yapisi-gorevlerimiz-sub {
  line-height: 1.8rem;
}

/* Bu kısımda üst yönetim yapılmakta */
.ust-yonetim {
  min-height: 1100px;
}

.ust-yönetim-right {
  margin-bottom: 40px;
}

.ust-yonetim-top {
  box-shadow: 0 5px 25px rgba(1, 1, 1, 0.1);
}

.ust-yonetim-sema {
  padding: 4rem;
  border-bottom: 1px solid;
}

.ust-yonetim-sema-sub {
  display: flex;
  align-items: center;
  padding: 20px 20px;
}

.ust-yonetim-sema-img {
  margin-right: 10px;
  border-radius: 100%;
  width: 120px;
  height: 120px;
}

.ust-yonetim-sema-icerik {
  margin-left: 10px;
}

.ust-yonetim-sema-name {
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.ust-yonetim-sema-title {
  opacity: 100%;
  font-size: 16px;
  font-weight: normal;
}

.ust-yonetim-border {
  border-top: 1px solid;
  opacity: 20%;
}

/* Bu kısımda arama sonucu yapılmakta */
.arama-sonuclari {
  min-height: 1000px;
}

.arama-sonucu-top {
  margin-bottom: 40px;
}

.arama-sonucu-list {
  border-bottom: 1px;
  box-shadow: 0 5px 25px rgba(1, 1, 1, 0.1);
  padding: 20px;
}

.arama-sonucu-title {
  color: #005aa3;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.arama-sonucu-text {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.arama-sonucu-icon {
  display: flex;
  justify-content: end;
  flex-direction: row;
}

.not-found {
  min-height: 750px;
}

/* Bu kısımda error yapılmakta */
.error-not-found-404 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-width: 100vw;
}

.error-not-found-404-sub {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.error-not-found-404-sub-sub {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  align-items: center;
  padding: 150px 20px;
  text-align: center;
}

.error-not-found-404-text {
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
  max-width: 600px; /* Belirli bir genişlik sınırı */
  width: 100%; /* Alanın tamamını kullanacak şekilde */
}

.input-box {
  position: relative;
}

.input-box i {
  position: absolute;
  right: 13px;
  top: 15px;
  color: rgb(104, 104, 104);
}

.form-control {
  height: 50px;
  background-color: rgba(228, 228, 228, 0.4117647059);
}
.form-control:hover {
  background-color: rgba(238, 238, 238, 0.4117647059);
}

.form-control:focus {
  background-color: rgba(238, 238, 238, 0.4117647059);
  box-shadow: none;
  border-color: #eee;
}

.error-not-found-404-bottom {
  color: black;
  font-size: medium;
  font-weight: 500;
  margin: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 10px 25px;
  background-color: white;
}
.error-not-found-404-bottom:hover {
  background-color: rgb(39, 60, 102);
  color: white;
}

.error-not-found-icon {
  font-size: 50px;
}

/* Bu kısımda yönetim kurulu yapılmakta */
.yonetim-kurulu {
  min-height: 1000px;
}

.yonetim-kurulu-right {
  margin-bottom: 40px;
}

.yonetim-kurulu-right-small {
  margin-bottom: 40px;
}

.yonetim-kurulu-sema-small {
  padding: 1rem;
  border-bottom: 1px solid;
}

.yonetim-kurulu-top {
  box-shadow: 0 5px 25px rgba(1, 1, 1, 0.1);
}

.yonetim-kurulu-sema {
  padding: 4rem;
  border-bottom: 1px solid;
}

.yonetim-kurulu-sema-top-bottom {
  display: block;
  align-items: center;
  text-align: center;
  padding: 20px 20px;
}

.yonetim-kurulu-sema-middle {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 20px 20px;
  justify-content: space-around;
}

.yonetim-kurulu-sema-img {
  margin-right: 10px;
  border-radius: 100%;
  width: 120px;
  height: 120px;
}

.yonetim-kurulu-sema-icerik-top {
  margin-left: 10px;
}

.yonetim-kurulu-sema-icerik-middle {
  display: block;
  align-items: center;
  text-align: center;
}

.yonetim-kurulu-sema-name {
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.yonetim-kurulu-sema-title {
  opacity: 100%;
  font-size: 16px;
  font-weight: normal;
}

/* kanunlar kısmı düzelt */
.kanunlar-genel {
  margin-bottom: 40px;
  box-shadow: 0 5px 25px rgba(1, 1, 1, 0.2);
}

.kanunlar-content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  text-decoration: none;
  color: inherit;
  padding: 1rem;
}

.kanunlar-content-sub {
  display: flex;
  position: relative;
  align-items: center;
  gap: 0.8rem;
}

.kanunlar-icon {
  font-size: 22px;
}

.mevzuat-kanunlar {
  min-height: 1100px;
}

.selected-item {
  color: rgb(39, 60, 102) !important;
  font-weight: 700 !important;
}/*# sourceMappingURL=style.css.map */